#tCA {
    -fx-background-color: #3085f5;
    -fx-text-background-color: #000000;
}

#tCB {
    -fx-background-color: yellow;
    -fx-text-background-color: #000000;
}


* {
    -fx-primary-color: #ffdba6;
    -fx-secondary-color: #000000;
    -fx-grey-color: #c4c4c4;
    -fx-focus-color: -fx-secondary-color;
}

#buttonImageViewerA, #buttonImageViewerB {
    -fx-padding: 10px;
    -fx-color: #002f56;
    -fx-opacity: 0.5;
}

#buttonImageViewerA:hover, #buttonImageViewerB:hover {
    -fx-opacity: 0.7;
}

#deleteButtonMain {
    -fx-color: #ff0d0d;
    -fx-opacity: 0.5;
}

#loadButtonMain {
    -fx-color: #424242;
    -fx-opacity: 0.5;
}

#loadButtonMain:hover, #deleteButtonMain:hover {
    -fx-opacity: 0.7;
}

#loadButtonMain:pressed, #deleteButtonMain:pressed  {
    -fx-opacity: 0.9;
}

#newButtonMain {
    -fx-color: #0f5600;
    -fx-opacity: 0.5;
}

#newButtonMain:hover {
    -fx-opacity: 0.7;
}

#newButtonMain:pressed {
    -fx-opacity: 0.9;
}

.root {
    -fx-font-family: "Arial, Helvetica, sans-serif";
    -fx-base: #eaeaea;
    -fx-background: #ffffff;
}

/*
date-picker {
    -fx-accent: -fx-primary-color;
    -fx-background-color: -fx-grey-color, white;
    -fx-background-insets: 0, 0 0 0 0;
    -fx-background-radius: 0;
} */