* {
    -fx-primary-color: #e3e3e3;
    -fx-secondary-color: #fa8b8b;
    -fx-grey-color: #b9b9b9;
    -fx-focus-color: -fx-secondary-color;
}

#mButton {
    -fx-color: white;
}

#mButton:hover {
    -fx-background-color: #c1c1c1;
}

.root {
    -fx-font-size: 12pt;
    -fx-font-family: "Arial, Helvetica, sans-serif";
    -fx-base: #e5e5e5;
    -fx-background: #ffffff;
}

.text-field {
    -fx-accent: -fx-primary-color;
    -fx-background-color: -fx-grey-color, white;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-background-radius: 0;
}

#hood {
    -fx-arc-height: 100px;
}

.text-field:focused {
    -fx-background-color: -fx-primary-color, #e7e7e7;
}