.button {
    -fx-font-weight: bold;
}

.root {
    -fx-font-size: 14px;
    -fx-font-family: sans-serif;
    -fx-background-color: #ffffff;
}

.header-section {
    -fx-padding: 10px;
    -fx-font-size: 20px;
    -fx-background-color: teal;
}